@charset "utf-8";

/* .LC_Page_Entry table,.LC_Page_Entry .btn_area,.LC_Page_Entry .title{
	display:none;
}
.LC_Page_Entry{
	background: #474a4d;
	background-size: cover;
}
.LC_Page_Entry #container{
	background:transparent;
	text-align:center;
}
.LC_Page_Entry .small{
	line-height: 2;
}
.LC_Page_Entry .flipInY{
	top: -59px;
}
.LC_Page_Entry .btn-twitter{
	width:100%;
} */
.LC_Page_Entry
.LC_Page_Entry
.LC_Page_Entry
.LC_Page_Entry
