@charset "utf-8";

/************************************************
 import css
************************************************ */
@import url("./reset.css");
@import url("./common.css");
@import url("./contents.css");
@import url("./table.css");
@import url("./bloc.css");
@import url("./bloc_alpha.css");
@import url("./popup.css");
@import url("./detail.css");
@import url("./list.css");
@import url("./kiyaku.css");
@import url("./note.css");
@import url("./profile.css");
@import url("./materialn.css");
@import url("./favorite.css");
@import url("./orders.css");
@import url("./signup.css");

@import url("./print.css");


@charset "utf-8";

/* .LC_Page_Entry table,.LC_Page_Entry .btn_area,.LC_Page_Entry .title{
    display:none;
}
.LC_Page_Entry{
    background: #474a4d;
    background-size: cover;
}
.LC_Page_Entry #container{
    background:transparent;
    text-align:center;
}
.LC_Page_Entry .small{
    line-height: 2;
}
.LC_Page_Entry .flipInY{
    top: -59px;
}
.LC_Page_Entry .btn-twitter{
    width:100%;
} */
.LC_Page_Entry
.LC_Page_Entry
.LC_Page_Entry
.LC_Page_Entry
