@charset "utf-8";

#header_login_area{
	padding:0px;
	border:0px;
	height:auto;
	background:transparent;
	text-align: left;
}
.header-inner .header-navs .header-nav{
	float:left;
}
#headerInternalColumn{
	margin-top:0px;
	float:none;
	width:auto;
	float: left;
	height:auto;
}
.overlay-nav-open i.icon{
	float: left;
	line-height: 1.5em;
}
.header{
	position: relative !important;
}
#container{
	padding:0px;
	width:auto;
}
#one_maincolumn{
	padding: 0px 0 20px;
	margin-top: -10px !important;
	width:auto;
}
.LC_Page_Index #footer{
	width:auto;
}
.LC_Page_Index .btn-twitter{
	color:white !important;
}
.LC_Page_Index #header_login_area p.btn input[type=image]{
	display:none;
}
.main_column #recommend_area .block_body .productImage, 
#whobought_area .product_item .productImage,
#one_maincolumn #recommend_area .block_body .productContents,
.LC_Page_Index .productContents h3 a{
	float:none !important;
}
.main_column #recommend_area .product_item, #whobought_area .product_item,
#one_maincolumn #recommend_area .block_body .productContents{
	width:auto !important;
}
.main_column #recommend_area .block_body .productImage, 
#whobought_area .product_item .productImage{
	width:310px !important;
}
productContents a,
.sale_price{
	float:left !important;
	color: #333 !important;
}
.sale_price{
	display:inline-block !important;
}
.text-red{
	font-size:2em !important;
}
#recommend_area .block_body p, 
#whobought_area .product_item p{
	margin: 0 0 5px 5px !important;
}
#recommend_area h2{
	display:none;
}
.LC_Page_Index
.LC_Page_Index