@charset "utf-8";

.LC_Page_Entry table,.LC_Page_Entry .btn_area .hover_change_image{
    display:none;
}
.LC_Page_Entry body{
    background: #474a4d;
    background-size: cover;
}
.LC_Page_Entry #container{
    background:transparent;
    text-align:center;
    width:auto;
}
.LC_Page_Entry .small{
    line-height: 2;
}
.LC_Page_Entry .flipInY{
    top: -59px;
}
.LC_Page_Entry .signup-forms .input-text{
	background: white !important;
}
.LC_Page_Entry #one_maincolumn{
	width:auto;
}
.LC_Page_Entry .login-sns-buttons,
.LC_Page_Entry .signup-id{
	padding:0 20px;
}
.LC_Page_Entry .btn-twitter{
	color:#fff !important;
}
.LC_Page_Entry #password{
	width:100%;
}
.LC_Page_Entry .btn_area li{
	display:block;
}
.LC_Page_Entry .btn-blue{
	background-color: #007bbb;
	border: 0;
	color: white;
}
.LC_Page_Entry .btn-blue:hover {
	background-color: #006aa2;
}

/**login**/
.LC_Page_Login body,
.LC_Page_Materials .materials_login,
.LC_Page_Materials_New body,
.LC_Page_Orders body{
	background: #474a4d;
	background-size: cover;
}
.LC_Page_Login #container,
.LC_Page_Materials #container,
.LC_Page_Materials_New #container,
.LC_Page_Orders #container{
	background:transparent;
	width:auto;
}
.LC_Page_Login .main_column,
.LC_Page_Materials .main_column,
.LC_Page_Materials_New .main_column,
.LC_Page_Orders .main_column{
	padding:0px;
}
#container div#login_area .block_body{
	padding:0px;
	background-color:transparent;
	border:0px;
}
.form-container h1{
	text-align: center;
}
#one_maincolumn{
	width:auto;
}
.pad-v-1 {
	padding-top: 2em;
	padding-bottom: 1.5em;
}
.login-sns-buttons,
.signup-forms{
	padding:0 15px;
}
.signup-sns a{
	color:#fff;
}
.signup-id,.small{
	text-align:center;
}
#container div#login_area .block_body p{
	margin-bottom: 15px;
}
.logout input{
	background-color: transparent;
	color: #fff;
}